<figure itemprop="associatedMedia" itemscope
itemtype="https://schema.org/ImageObject">
  <a href="{{ .Get "href" | relURL }}" itemprop="contentUrl" data-size="{{ .Get "largeDim" }}" data-medium-url="{{ .Get "smallUrl"  | relURL }}" data-medium-size="{{ .Get "smallDim"  | relURL }}">
    <img alt="{{ .Get "alt" }}" data-size="{{ .Get "thumbSize" }}" itemprop="thumbnail" src="{{ .Get "thumbUrl" | relURL }}">
  </a>
  <figcaption itemprop="caption description">
    {{ .Get "caption"}}
    {{ if (not (eq (.Get "copyright") "")) }}
    <span itemprop="copyrightHolder">&#169; {{ .Get "copyright"}}</span>
    {{ end }}
  </figcaption>
</figure>
