{{- $scratch := .Page.Scratch -}}
{{- $scratch.Add "bib" slice -}}
{{- $entries := $scratch.Get "bib" -}}
{{- if $entries -}}
  {{- $entryIndex := -1 -}}
  {{- range $idx, $entry := $entries -}}
    {{- if eq $entry.id (.Get 0) -}}
      {{- $entryIndex = $idx -}}
    {{- end -}}
  {{- end -}}
  {{- if ge $entryIndex 0 -}}
  <a href="#ref-{{ .Get 0 }}" class="citation" aria-label="Reference {{ .Get 0 }}">[{{ add $entryIndex 1 }}]</a>
  {{- else -}}
  <span class="citation-error">[Citation Error]</span>
  {{- end -}}
{{- end -}}
