name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Bazel
        uses: bazelbuild/setup-bazelisk@v3

      - name: Install Playwright Browsers
        run: bazel run //tools/critical-css:install_browsers

      - name: Build Site
        run: bazel build //:site_optimized

      - name: Prepare Deployment Directory
        run: |
          mkdir -p dist
          tar -xf bazel-bin/site_optimized_dir.tar -C dist

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: personal-website
          directory: dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
