name: Build and Push Docker image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1 
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Bazel
      uses: bazelbuild/setup-bazelisk@v3
      
    - name: Install Playwright Browsers
      run: bazel run //tools/critical-css:install_browsers
      
    - name: Build image
      run: bazel build //:nginx_image_tarball
      
    - name: Load and push image
      run: bazel run //:docker_push
